<footer>
{% comment %} En el footer: Mi nombre y la fecha, un correo, ¿El logo? y la descripción del site? 

El logo: Las rutas (imagen del ciclista) de Alberto
Copy CC año primera ruta-año actual (¿Cambia con javascript o lo sacamos de la generación?)
Enlace a el porqué del proyecto.

También estaría chula una página de acompañantes a las rutas!!!!

{% endcomment %}

<p>Las rutas <img src="{{ site.img | relative_url | append: "/"}}logo-footer.png" alt="Logo web"> de Alberto<br>
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a> Alberto Domínguez
 2014-{{ site.time | date: '%Y' }} — <a href="{{ "/proyecto.html" | relative_url }}">Historia del proyecto</a>
</p>
</footer>
