<header>
{% comment %} Primero ponemos la imagen de cabecera, elegida al azar. {% endcomment %}
<a href="{{ "/" | relative_url }}"><img src="{{ site.banners | sample | prepend: "/" | prepend: site.img | relative_url }}" alt="{{ site.title | escape}}" /></a>

{% comment %} Ahora la navegación {% endcomment %}
<nav>

<ul>
{% for link in site.menu %}
  <li{% if page.url == link.url %} class="selected"{% endif %}><a href="{{ link.url }}">{{ link.texto }}</a></li>
{% endfor %}
</ul>

</nav>
</header>
